<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zriot.elicense.illegal.dao.BillDetailFeeInfoMapper">

  <sql id="billDetailFeeInfoColumn">
    id as id, 
    bill_fee_id as billFeeId, 
    type as type, 
    unit as unit, 
    fee as fee, 
    delete_flag as deleteFlag
  </sql>
  
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.zriot.elicense.illegal.model.BillDetailFeeInfo">
    insert into bill_detail_fee_info 
    	(bill_fee_id, type, unit, fee, delete_flag)
    values
    	(#{billFeeId},#{type},#{unit},#{fee},#{deleteFlag})
  </insert>
  
  <update id="update" parameterType="com.zriot.elicense.illegal.model.BillDetailFeeInfo">
  	update bill_detail_fee_info
  		<set>
	  		<if test="billFeeId != null">
	  			bill_fee_id = #{billFeeId},
	  		</if>
	  		<if test="type != null">
	  			type = #{type},
	  		</if>
	  		<if test="unit != null">
	  			unit = #{unit},
	  		</if>
	  		<if test="fee != null">
	  			fee = #{fee},
	  		</if>
	  		<if test="deleteFlag != null">
	  			delete_flag = #{deleteFlag},
	  		</if>
	  	</set>
  </update>
  
  <select id="searchByBillFeeId" parameterType="java.lang.Integer"  resultType="com.zriot.elicense.illegal.model.BillDetailFeeInfo">
  	select 
    <include refid="billDetailFeeInfoColumn" />
    from bill_detail_fee_info
    where bill_fee_id = #{billFeeId} and delete_flag != 1
  </select>
  
  <update id="delete" parameterType="java.lang.Integer">
  		update bill_detail_fee_info set delete_flag = 1 where id = #{id}
  </update>
  
</mapper>